[submodule "module/OpenSTA"]
	path = src/sta
	url = https://gitee.com/mixed-metamorphic-meaning-tm/OpenSTA.git
[submodule "src/abc"]
	path = third-party/abc
	url = https://gitee.com/mixed-metamorphic-meaning-tm/abc.git
